.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 20px;
}

.home h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.home p {
  font-size: 1.5rem;
  margin-top: 10px;
  font-style: italic;
  letter-spacing: 1px;
}

@media (max-width: 600px) {
  .home h1 {
    font-size: 2rem;
  }

  .home p {
    font-size: 1.2rem;
  }
}
